@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&display=swap");
.home-ux, .home-web, .home-sobremi, .home {
  border: 2px solid white;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  justify-content: flex-end;
}

body header .navbar-light .navbar-nav .nav-link, body header .navbar-light .navbar-nav .nav-link.active, body header .navbar-light .navbar-nav .show > .nav-link, body header .navbar-light .navbar-brand {
  color: white;
  font-weight: 200;
  font-size: 18px;
}

.img-intro {
  background-color: white;
  width: 80%;
}

.iconos {
  background-color: white;
  width: 20%;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Lexend Peta", sans-serif;
  background-color: #D2C07D;
  box-sizing: border-box;
}

body {
  margin: 6%;
  background-color: transparent;
}

.home-arte {
  border: 4px;
}

body {
  margin: 6%;
  background-color: transparent;
}
body header {
  margin-bottom: 8px;
}
body header h1 {
  font-weight: 300;
  font-size: 30px;
  color: white;
  margin-bottom: 12px;
  text-decoration: none;
}
body header h1 a {
  font-weight: 300;
  font-size: 30px;
  color: white;
  margin-bottom: 12px;
  text-decoration: none;
}
body header h1 a:hover {
  color: lightseagreen;
}
body header h1:hover {
  color: lightseagreen;
}
body header .navbar-light .navbar-brand {
  color: white;
}
body header .navbar-light .navbar-brand:hover {
  color: red;
}
body header .navbar-light .navbar-nav .nav-link.active, body header .navbar-light .navbar-nav .show > .nav-link {
  color: white;
}
body header .navbar-light .navbar-nav .nav-link.active:hover, body header .navbar-light .navbar-nav .show > .nav-link:hover {
  color: red;
}
body header .navbar-light .navbar-nav .nav-link {
  color: white;
}
body header .navbar-light .navbar-nav .nav-link:hover {
  color: red;
}
body header .nav-item {
  padding: 0 6px;
  width: 200px;
  text-align: center;
}
body header .nav-item:hover {
  color: red;
}
body header .navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  justify-content: space-evenly;
}
body header li.nav-item.dropdown {
  padding-top: 10px;
}

.home {
  block-size: 600px;
  padding: 0px 18%;
  width: 1216px;
}

/*------Arte---------*/
.home-arte {
  border: 2px solid white;
  border-radius: 4px;
  block-size: 600px;
  padding: 10% 25%;
}
.home-arte .col {
  padding: 0 2%;
  text-align: center;
}
.home-arte .col .card .h-100 {
  padding: 4%;
}
.home-arte .col img {
  background-color: white;
  border: 4px solid white;
}
.home-arte .col .text-muted {
  background-color: white;
  color: #343333;
}
.home-arte .col .card-img-top {
  background-color: white;
  padding: 20% 4% 0% 4%;
}
.home-arte .col .card-body {
  background-color: white;
}
.home-arte .col .card-body .card-footer {
  background-color: rgb(241, 245, 249);
}
.home-arte .col .card-body .card-footer:hover {
  background-color: #fa9d50;
}

/*----Sobre mi------*/
.home-sobremi {
  block-size: 600px;
  padding: 0px 18%;
}
.home-sobremi .foto-perfil {
  width: 35%;
  height: auto;
  border-radius: 8px;
  border: 1px solid white;
  padding: 2px;
}
.home-sobremi .text-perfil {
  width: 65%;
  height: auto;
  padding: 0 3%;
  order: -1;
}

/*-----Web------------------------*/
.home-web {
  padding: 4%;
  width: 1216px;
  height: 60%;
}
.home-web .carousel-indicators {
  background-color: transparent;
  padding-bottom: 2%;
}

.d-block {
  height: 700px;
  width: 100%;
  background-color: #343333;
  color: white;
  font-size: 18px;
  font-weight: 200;
  font-family: menlo;
}
.d-block p {
  color: white;
  font-size: 18px;
  font-weight: 200;
  font-family: menlo;
}
.d-block p.fw {
  color: #fa9d50;
}
.d-block p.fc {
  color: black;
  background-color: rgb(214, 214, 10);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  width: 50%;
  display: inline;
}
.d-block p.fp {
  color: lightseagreen;
  display: inline;
}

h4 {
  text-align: center;
  line-height: 200%;
  padding: 10% 20%;
}
h4 p {
  background-color: #343333;
}

.carousel-control-prev {
  justify-content: flex-start;
  background-color: transparent;
}
.carousel-control-prev .carousel-control-prev-icon {
  background-color: transparent;
}

.carousel-control-next {
  justify-content: flex-end;
  background-color: transparent;
}
.carousel-control-next .carousel-control-next-icon {
  background-color: transparent;
}

.carousel-inner {
  width: 100%;
}

.d-block .icons {
  padding-top: 10%;
  background-color: #343333;
}
.d-block .icons img {
  padding: 0 2%;
  width: 20%;
  height: auto;
  background-color: #343333;
}
.d-block .icons .scss {
  display: inline;
  font-family: "Share Tech Mono", monospace;
  font-size: 46px;
  color: palevioletred;
}

/*-----UX----------------*/
.home-ux {
  padding: 4%;
  width: 1216px;
  height: 60%;
}
.home-ux .img-intro-contenedor {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.home-ux .img-intro-contenedor .img-intro {
  width: 80%;
  height: auto;
  border-radius: 6px;
  order: 1;
  background-color: white;
}
.home-ux .lateral {
  background-color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 3%;
  padding-top: 5%;
  font-weight: 300;
}
.home-ux .lateral .intro-txt {
  font-size: 12px;
  color: black;
  order: -1;
  font-size: 16px;
  background-color: white;
  padding-left: 18%;
  font-weight: 400;
}
.home-ux .lateral .descripcion-txt {
  background-color: white;
  font-size: 16px;
  color: #343333;
  font-weight: 300;
}
.home-ux .lateral p {
  background-color: white;
}
.home-ux .iconos {
  display: flex;
  padding-top: 0;
  align-items: center;
  size: 50%;
  align-content: center;
}
.home-ux .figma {
  width: 55%;
  padding: 15%;
  background-color: white;
}
.home-ux .mac {
  width: 55%;
  padding: 10%;
  background-color: white;
}
.home-ux .photoshop {
  width: 70%;
  padding: 10%;
  background-color: white;
}
.home-ux .img-ux3-contenedor {
  width: 100%;
  display: flex;
  padding: 6% 0;
  background-color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.home-ux .img-ux3-contenedor .img-ux3 {
  width: 90%;
  height: auto;
  order: 1;
  background-color: white;
  padding-top: 2%;
}
.home-ux .img-ux3-contenedor .txt-ux3 {
  background-color: white;
  border: 2px solid #BA0404;
  border-radius: 10px;
  padding: 8px;
}
.home-ux .img-ux4-contenedor {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.home-ux .img-ux4-contenedor .img-ux4 {
  width: 80%;
  height: auto;
  order: 1;
  background-color: white;
}
.home-ux .img-ux4-contenedor .txt-ux4 {
  background-color: white;
  border: 2px solid #BA0404;
  border-radius: 10px;
  padding: 8px;
}
.home-ux .img-ux5-contenedor {
  width: 100%;
  display: flex;
  padding: 4% 0;
  background-color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.home-ux .img-ux5-contenedor .img-ux5 {
  width: 88%;
  height: auto;
  order: 1;
  background-color: white;
}
.home-ux .img-ux5-contenedor .txt-ux5 {
  background-color: white;
  border: 2px solid #BA0404;
  border-radius: 10px;
  padding: 8px;
}
.home-ux .img-ux6-contenedor {
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.home-ux .img-ux6-contenedor .img-ux6 {
  width: 80%;
  height: auto;
  order: 1;
  background-color: white;
  padding-top: 2%;
}
.home-ux .img-ux6-contenedor .txt-ux6 {
  background-color: white;
  border: 2px solid #BA0404;
  border-radius: 10px;
  padding: 8px;
}
.home-ux .img-ux7-contenedor {
  width: 100%;
  display: flex;
  padding: 6% 0;
  background-color: white;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.home-ux .img-ux7-contenedor .img-ux7 {
  width: 80%;
  height: auto;
  order: 1;
  background-color: white;
  padding-top: 2%;
}
.home-ux .img-ux7-contenedor .txt-ux7 {
  background-color: white;
  border: 2px solid #BA0404;
  border-radius: 10px;
  padding: 8px;
}
.home-ux .txt-ux8 {
  width: 90%;
  height: auto;
  padding: 6% 0% 2% 0;
  text-align: center;
  padding-right: 11%;
}

.txt-ux9 {
  width: 90%;
  height: auto;
  text-align: center;
  padding-right: 10%;
}

.behance-enlace {
  background-color: white;
}
.behance-enlace .behance {
  width: 6%;
  height: auto;
}

.mockup {
  width: 35%;
  order: 1;
  transition: all 1.5s ease-out;
  width: 35%;
  order: 1;
  justify-self: flex-end;
  flex-wrap: wrap;
  animation: mostrar 1s forwards;
}

@keyframes cambiar {
  0% {
    margin-top: o;
  }
  50% {
    margin-top: 0;
  }
}
.contenedor-animacion {
  width: 40%;
  height: 30px;
  font-size: 20px;
  font-family: "Lexend Peta", sans-serif;
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  margin: auto;
  margin: 28% 60% auto 13%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.contenedor-animacion .home-txt {
  color: white;
  font-size: 18px;
  order: -1;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
}
.contenedor-animacion .animacion-soluciones {
  list-style: none;
  animation: cambiar 7s;
  width: 185px;
  margin: 0;
}
@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
.contenedor-animacion .enlace-animacion {
  color: white;
  font-size: 20px;
  font-family: "Lexend Peta", sans-serif;
}

footer .linkedin {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}
footer .linkedin .icono-lin {
  width: 50%;
}
footer .small-txt {
  display: flex;
  color: #343333;
  font-size: 12px;
  justify-content: center;
}
footer .disclaimer {
  text-align: right;
  border-left: 2px solid red;
  border-top-left-radius: 10px;
  display: none;
}

/*Idioma */
.dropdown {
  font-family: "Lexend Peta", sans-serif;
  margin-top: -8px;
}

.btn-secondary {
  color: white;
  background-color: #D2C07D;
  border-color: white;
}

.btn-secondary:focus {
  color: #fff;
  background-color: #e0e5ea;
  border-color: white;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

/*# sourceMappingURL=style.css.map */
