@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&display=swap');

* {
    text-decoration: none;
    font-family: 'Lexend Peta', sans-serif;
    background-color: #D2C07D
}

/*HEADER*/
header {
    margin-bottom: 8px;
}

body {
    margin: 6%;

}

h1 {
    font-weight: 300;
    font-size: 18 px;
    color: #ffff;
    margin-bottom: 12px;

}

nav {
    color: #343333
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
    color: #343333;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.li-contacto {
    margin-left: 15%;
}

.li-ux {
    color: #BA0404;
}

/*HOME*/
.home {
    border: 2px solid #ffff;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: 300;
    color: #343333;
 
    background-color: #ffff;


}

/*BLOQUE INTRO*/
.img-intro-contenedor {
    display: flex;
    flex-direction: row;
    background-color: #ffff;

}
.img-intro {
    width: 80%;
    border-radius: 6px;
    order: 1;
    background-color: #ffff;

}
.lateral{
    background-color: #ffff;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  
}
.descripcion-txt{
    background-color: #ffff;
    font-size: 16px;
    color: #343333;
}
.intro-txt {
    font-size: 12px;
    color: black;
    order: -1;
    font-size: 14px;
    background-color:#ffff;
    padding-left: 2%;
}

.iconos{
    padding: 10% 20%;
    margin-right: 5%;
    width: 25%;
    display: flex;
    align-items: flex-end;  
  background-color: #ffff;
}

.figma{
    width: 40%; 
    padding: 15%;
    background-color: #ffff;
}
.mac{
    width: 55%;
    padding: 10%;
    background-color: #ffff;
}

.photoshop{
    width: 70%;
    padding: 10%;
    background-color: #ffff;
}

/*BLOQUE 2*/
.img-ux2-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    background-color: #ffff;
}
.img-ux2 {
    padding: 1%;
    background-color: #ffff;
}

/*BLOQUE 3*/
.img-ux3-contenedor {
    width: 70%;
  display: flex;
    padding: 2%;
    background-color: #ffff;

}
.img-ux3{
    width: 966px;
    height: auto;
    order: 1;
    background-color: #ffff;
}
.txt-ux3{
    background-color: #ffff;
}

/*FOOTER*/
/*Linkedin*/
.linkedin {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
}

.icono-lin {
    width: 50%;
}

/*copyright*/
.small-txt {
    display: flex;
    color: #343333;
    font-size: 12px;
    justify-content: center;

}