
li:hover{
    color: #BA0404;
    }
li{
    color: #ffff;
}

li a:hover{
    color: #BA0404;
    }

li a{
        color: #ffff;
    }


/*FOOTER*/



/*copyright*/
.small-txt {
    color: #343333;
    font-size: 16px
}

.icono-lin{
    width: 5%;
}