/*ARCHIVO SOBRE MI*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&display=swap');

* {
   
    text-decoration: none;
    font-family: 'Lexend Peta', sans-serif;
    background-color: #D2C07D
}

li:hover{
    color: #BA0404;
    }
li{
    color: #ffff;
}

li a:hover{
    color: #BA0404;
    }

li a{
        color: #ffff;
    }

nav ul li {
    
    color: #343333;
    font-size: 80%;
    font-weight: 300;
    
    
}
h1 a{
    color: white;
    text-decoration: none;
}
h1 a:hover{
    color: lightseagreen;
}
       

.sobre-mi-activo{
    color: #BA0404;
}  

.foto-perfil{
    width: 15%;  
}
.home{
        border: 2px solid #ffff;
        border-radius: 20px;
        
}

.text-perfil{
    text-align: start;
}
/*FOOTER*/    


/*copyright*/
.small-txt {
    color: #343333;
    font-size: 16px;
}
.linkedin{
    align-items: center;
    
}
.icono-lin{
    width: 5%;
}