@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&display=swap');

* {
    text-decoration: none;
    font-family: 'Lexend Peta', sans-serif;
    background-color: #D2C07D
}

/*HEADER*/
header {
    margin-bottom: 8px;
}

body {
    margin: 6%;

}

h1 {
    font-weight: 300;
    font-size: 18 px;
    color: #ffff;
    margin-bottom: 12px;

}
h1 a{
    color: white;
}
h1 a:hover{
    color: lightseagreen;
}

nav {
    color: #343333
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
    color: #343333;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


li{
    color: #ffff;
}

li a:hover{
    color: #BA0404;
    }

li a{
        color: #ffff;
    }

.li-contacto {
    margin-left: 15%;
}

.li-ux a {
    color: #BA0404;
}

/*HOME*/
.home {
    border: 2px solid #ffff;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: 300;
    color: #343333;
    padding: 4% 0;
    background-color: #ffff;


}

/*BLOQUE INTRO*/
.img-intro-contenedor {
    display: flex;
    flex-direction: row;
    background-color: #ffff;

}
.img-intro {
    width: 74%;
    border-radius: 6px;
    order: 1;
    background-color: #ffff;

}
.lateral{
    background-color: #ffff;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5%;
  
}
.descripcion-txt{
    background-color: #ffff;
    font-size: 16px;
    color: #343333;
}
.intro-txt {
    font-size: 12px;
    color: black;
    order: -1;
    font-size: 16px;
    background-color:#ffff;
    padding-left: 4%;
    font-weight: 400;
}
p{
    background-color:#ffff;
}

.iconos {
    width: 20%;
    display: flex;
    background-color: #ffff;
    padding-top: 0;
    align-items: center;
    size: 50%;
    align-content: center;}

.figma{
    width: 40%; 
    padding: 15%;
    background-color: #ffff;
}
.mac{
    width: 55%;
    padding: 10%;
    background-color: #ffff;
}

.photoshop{
    width: 70%;
    padding: 10%;
    background-color: #ffff;
}

/*BLOQUE 2*/
.img-ux2-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
    background-color: #ffff;
}
.img-ux2 {
    padding: 1%;
    background-color: #ffff;
}

/*BLOQUE 3*/
.img-ux3-contenedor {
    width: 100%;
    display: flex;
    padding: 2%;
    background-color: #ffff;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.img-ux3{
    width: 90%;
    height: auto;
    order: 1;
    background-color: #ffff;
}
.txt-ux3{
    background-color: #ffff;
    border: 2px solid lightseagreen ;
    border-radius: 10px;
    padding: 8px;
}

/*BLOQUE 4*/
.img-ux4-contenedor{
    width: 100%;
    display: flex;
    padding: 2%;
    background-color: #ffff;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.img-ux4{
    width: 80%;
    height: auto;
    order: 1;
    background-color: #ffff;
}
.txt-ux4{
    background-color: #ffff;
    border: 2px solid lightseagreen ;
    border-radius: 10px;
    padding: 8px;
}
/*BLOQUE 5*/
.img-ux5-contenedor{
    width: 100%;
    display: flex;
    padding: 2%;
    background-color: #ffff;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.img-ux5{
    width: 88%;
    height: auto;
    order: 1;
    background-color: #ffff;
}
.txt-ux5{
    background-color: #ffff;
    border: 2px solid lightseagreen ;
    border-radius: 10px;
    padding: 8px;
}
/*BLOQUE 6*/
.img-ux6-contenedor{
    width: 100%;
    display: flex;
    padding: 2%;
    background-color: #ffff;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.img-ux6{
    width: 80%;
    height: auto;
    order: 1;
    background-color: #ffff;
}
.txt-ux6{
    background-color: #ffff;
    border: 2px solid lightseagreen ;
    border-radius: 10px;
    padding: 8px;
}
/*BLOQUE 7*/
.img-ux7-contenedor{
    width: 100%;
    display: flex;
    padding: 2%;
    background-color: #ffff;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.img-ux7{
    width: 80%;
    height: auto;
    order: 1;
    background-color: #ffff;
}
.txt-ux7{
    background-color: #ffff;
    border: 2px solid lightseagreen ;
    border-radius: 10px;
    padding: 8px;
}

.txt-ux8{
    width: 80%;
    height: auto;
    padding: 0 20%;

}
.txt-ux9{
    width: 31%;
    height: auto;
    text-align: center;
    padding-left: 34%;
}

.behance{
    background-color: #ffff;
    width: 10%;
    height: auto;
}
.behance-enlace{
    background-color: #ffff;
}

/*FOOTER*/
/*Linkedin*/
.linkedin {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
}

.icono-lin {
    width: 50%;
}

/*copyright*/
.small-txt {
    display: flex;
    color: #343333;
    font-size: 12px;
    justify-content: center;
    background-color: transparent;

}