@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&display=swap');

* {
    text-decoration: none;
    font-family: 'Lexend Peta', sans-serif;
    background-color: #D2C07D
}

/*HEADER*/
header {
    margin-bottom: 8px;
}

body {
    margin: 6%;

}

h1 {
    font-weight: 300;
    font-size: 18 px;
    color: #ffff;
    margin-bottom: 12px;

}
h1 a{
    color: white;
}
h1 a:hover{
    color: lightseagreen;
}


ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
    color: #ffff;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.li-ux a{
    color: #ffff;
}

li a:hover{
    color: #BA0404;
    }


.li-contacto {
    margin-left: 15%;
}

.li-web a{
    color: #BA0404;
}

/*HOME*/
.home {
    border: 2px solid #ffff;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: 300;
    color: #343333;
    padding: 4% 0;
    background-color: #ffff;


}

/*FOOTER*/
/*Linkedin*/
.linkedin {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: center;
}

.icono-lin {
    width: 50%;
}

/*copyright*/
.small-txt {
    display: flex;
    color: #343333;
    font-size: 12px;
    justify-content: center;
    background-color: transparent;
}