
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend Peta', sans-serif;
    background-color: $background-color-body;
    box-sizing: border-box
}
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&display=swap');
body {
    margin: 6%;
    background-color: transparent;
}
