$font-color-principal: white;
$font-color-secundario: black;
$font-color-terciario:#343333;
$font-hover:#5D0E0E;
$h1-color-hover: #B2F0F0;
$border-color:white;
$border-color-img:rgb(93, 93, 87);
$background-color:white;
$background-color-body:#ac932d;

/*--paleta 1 fondo #D2C07D, h1 celeste, hover enlaces rojo */
/*--paleta 2 fondo #85732E, h1 #B2F0F0, hover enlaces #FDD3D3 */