
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend Peta', sans-serif;
    background-color: #D2C07D;
    box-sizing: border-box
}
body {
    margin: 6%;
    background-color: transparent;
}
