@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;600;700&family=Share+Tech+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
}
body .contacto {
    block-size: 600px;
    padding: 0px 18%;
    width: 98%;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 12pt;
    font-family: "lexend peta";
    color: #2A293E;
}
.header-contacto {
       padding: 0px 18%;
    width: 98%;
    display: block;
    font-size: 12pt;
    font-family: "lexend peta";
    button {
        width: 100px;
        display: flex;
        border: none;
        img {
            width: 26px;
        }
        h2 {
            font-size: 14px;
            font-family: Lexend Peta;
            color: white;
            padding-left: 12px;
        }
    }
}
.contact-us {
    padding: 50px 263px;
    background-color: $font-color-principal;
    width: 726px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 4px solid #97bfbf;
    border-radius: 8px;
    label,
    input,
    textarea {
        display: block;
        width: 100%;
        font-size: 12pt;
        line-height: 24pt;
        font-family: "lexend peta";
        border-radius: 4px;
        background-color: $font-color-principal;
    }
    form {
        width: 500px;
        background-color: $font-color-principal;
    }
    input {
        margin-bottom: 24pt;
        width: 400px;
    }
    h3 {
        font-weight: normal;
        font-size: 10pt;
        line-height: 24pt;
        font-style: italic;
        margin: 0 0 0.5em 0;
    }
    span {
        font-size: 8pt;
    }
    em {
        display: none;
    }
    input,
    textarea {
        border: none;
        border: 1px solid $font-color-principal;
        border-radius: 2px;
        background: $h1-color-hover;
        padding-left: 5px;
        outline: none;

    }

    input:focus,
    textarea:focus {
        border: 1px solid #6bd4b1;
    }
    input#customerName,
    #customerEmail {
        border: 2px solid $h1-color-hover;
        border-radius: 8px;
        background-color: $font-color-principal;
    }
    #customerOrder {
        margin-top: 8px;
        background-color: #e99d0b;
        color: $font-color-terciario;
        border-radius: 6px;
        padding: 0;
        padding: 0 6px;
    }
    textarea {
        resize: none;
        border: 2px solid $h1-color-hover;
        border-radius: 8px;
        background-color: $font-color-principal;
    }
    button {
        display: block;
        float: right;
        line-height: 24pt;
        padding: 0 20px;
        border: none;
        background: $font-hover;
        color: white;
        letter-spacing: 2px;
        transition: 0.2s all ease-in-out;
        border-bottom: 2px solid transparent;
        outline: none;
    }
    button:hover {
        background: inherit;
        color: #f45702;
        border-bottom: 2px solid #f45702;
    }
    ::selection {
        background: #ffc7b8;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
        border: 1px solid #6bd4b1;
        -webkit-text-fill-color: #2A293E;
        transition: background-color 5000s ease-in-out 0s;
    }
}
/*------------------------queries---------------------------------------*/
@media screen and (max-width: 490px) {
    body.contacto {
        width: 100%;
        height: auto;
        margin: 0;

        .header-contacto {
            block-size: auto;
            padding: 48px 25px 26px 25px;
            width: 100%;
        }

        .contact-us {
            width: 92%;
            padding: 0;
            display: flex;
            margin: 0 18px;

            form {
                width: 100%;
                height: 600px;
                background-color: white;
                padding: 28px 23px;
            }
            input#customerName,
            #customerEmail {
                border: 2px solid #B2F0F0;
                border-radius: 8px;
                background-color: white;
                width: 323px;

            }
        }
    }
}
@media screen and (min-width: 491px) and (max-width: 992px) {
    body.contacto {
        height: 970px;
        width: 780px;
        .header-contacto {
            block-size: auto;
            padding: 20px 18% 20px 46px;
            margin-top: 87px;
        }
        .contact-us {
            padding: 0 161px;
            width: 726px;
            height: 700px;
            margin: 0px 4px auto 30px;
        }
    }
}
@media screen and (min-width: 969px) {
.contact-us{
    margin-left: 207px;
    margin-top: 33px;
} }