footer {
       .linkedin {
              display: flex;
              padding-top: 20px;
              padding-bottom: 10px;
              justify-content: center;

              .icono-lin {
                     width: 50%;
              }
       }

       .small-txt {
              display: flex;
              color: $font-color-terciario;
              font-size: 12px;
              justify-content: center;
       }

       .disclaimer {
              display: none;
       }
}

@media screen and (max-width: 490px) {
       footer .linkedin {
              display: flex;
              padding-top: 20px;
              padding-bottom: 10px;
              justify-content: center;
              flex-direction: column;
              align-items: center;
              width: 326px;

              .icono-lin {
                     width: 77%;
              }
       }

       footer .small-txt {
              width: 326px;
              text-align: center;
              font-size: 11px;
       }
}
@media screen and (min-width: 491px) and (max-width: 992px) {
       .linkedin{
              width: 792px;
       }
       .small-txt{
              width: 792px;
       }
}