footer{
       .linkedin{
              display: flex;
              padding-top: 20px;
              padding-bottom: 10px;
              justify-content: center;
              
              .icono-lin {
                       width: 50%;
              }}
        .small-txt {
                display: flex;
                color: #343333;
                font-size: 12px;
                justify-content: center;   
                }
}





