
.home {
    border: 2px solid #ffff;
    border-radius: 4px;
    block-size: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 18%;
    align-items: center;   
}