 /*checking*/
 navbar-expand-lg
 navbar-collapse

 .navbar-light .navbar-brand {
     color: $font-color-principal;
     @extend %navbar;
     &:hover{color: red;}
 }
 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
     color: $font-color-principal;
     @extend %navbar;
     &:hover{color: red;}
 }
 .navbar-light .navbar-nav .nav-link {
     color: $font-color-principal;
     @extend %navbar;
     &:hover{color: red;}
 }
 .nav-item {
     padding: 0 6px;
     width: 200px;
     text-align: center;
     &:hover{color: red;}

 }
.navbar-expand-lg .navbar-collapse {
display: flex!important;
flex-basis: auto;
justify-content: space-evenly;
flex-wrap: wrap;
}
@media screen and (max-width: 490px){
.navbar-expand-lg .navbar-collapse{flex-wrap:wrap;} 

}
