$font-color-principal: white;
$font-color-secundario: black;
$font-color-terciario:#343333;
$font-hover:#BA0404;
$h1-color-hover:lightseagreen;
$border-color:white;
$background-color:white;
$background-color-body:#D2C07D;